// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  /** primary **/
  --ion-color-primary: #00a8cc; /* Màu xanh ngọc */
  --ion-color-primary-rgb: 0, 168, 204;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0094b4;
  --ion-color-primary-tint: #1ab1d1;
}
